<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>uwu (Quadruple U) Fashion</title>
    <style media="screen">
      @font-face {
        font-family: 'splatFont2';
        src: url({% static 'fonts/Splatfont2.ttf' %});
      }

      body {
        font-family: splatFont2;
        background-image: url({% static "img/greyStripeBG.png" %});
        background-repeat: repeat;
        text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 2px 2px 1px #000;
      }

      .sidenav {
        text-shadow: none;
        font-size: 1.5em;
      }

      .title {
        line-height: 1em;
      }
    </style>
    <script type="text/javascript">
      $(document).ready(function(){
        console.log('jquery is a go!');
        $('.sidenav').sidenav();

        $('#fileInput').change(function() {
          readURL(this);
        })

        function readURL(input) {
          console.log("Inside readURL..");
          if(input.files && input.files[0]){
            console.log('File is there..');
            var reader = new FileReader();

            reader.onload = function(e) {
              $('#imgPlaceholder').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
          }
        }
      });
    </script>
  </head>
  <body>
    <nav class="nav-extended">
      <div class="nav-wrapper pink darken-1 flow-text">
        <div class="container">
          <a href="/" class="brand-logo center">uwu</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            {% if request.session.logged_in %}<li><a href="/profile">Hello, WhatsYerFace!</a></li>
            <li><a href="/login/logout">Logout</a></li>{% endif %}
            {% if not request.session.logged_in %}<li><a href="/login">Log In</a></li>{% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <ul id="mobile-demo" class="sidenav orange darken-3">
      {% if request.session.logged_in %}<li><a class='white-text' href="/profile">Hello, WhatsYerFace!</a></li>
      <li><a href="/login/logout">Logout</a></li>{% endif %}
      {% if not request.session.logged_in %}<li><a href="/login">Log In</a></li>{% endif %}
    </ul>
    <div class="container white-text">
      <h2 class='center-align'>Upload</h2>
      <form action='/process_upload' method='post' class="row">
        {% csrf_token %}
        <div class="col s12 m8 push-m2">
            <img id="imgPlaceholder" class="responsive-img z-depth-3" src="{% static 'uwu_fashion/img/greyBGPlaceholder.jpg' %}" alt="">
        </div>
        <div class="col s12 m8 push-m2">
          <input  id="fileInput" class="splatFile" type="file" name="image_file" value="">

        </div>
        <div class="col s12 m8 push-m2">
          <label class="embiggen" for="description">Description</label>
          <textarea class="descText" id="description" name="description" rows="8" cols="80" placeholder="Tell us about your outfit!"></textarea>
          <button class="splatButton" type="submit" name="submit">Submit</button>
        </div>
      </div>
    </form>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
  </body>
</html>
